.aside {
    .aside_section{
        .aside_section_list{
            padding: 0.75rem 0rem;
            border-bottom: solid .5px $grey_5;

            .aside_list_item{
                padding: .5rem 1.5rem;
                
                .aside_list_item_link {
                    display: flex;
                    align-items: center;
                    
                    .material-icons{
                        margin-right: 1.5rem;
                        }
                    .aside_list_item_label{

                        }
                }
                &.active{
                    background-color: #e6e6e6;
                    h4{
                        color: #0b0b0b;
                        font-weight: 500;
                    }
                    .material-icons{
                        color: $red;
                    }
                    &:hover {
                        background: $grey_4;
                    }
                }
                &:hover {
                    background: $grey_6;
                }
            }
            
        }
    }
    .aside_suscriptors{

        .aside_suscriptors_title{
            padding: 0.75rem  1.5rem 0.25rem 1.5rem ;
            
            font-weight: 500;
            font-size: 0.9rem;
            text-transform: uppercase;
        }
        .aside_suscriptors_list{

            .aside_suscriptors_list_item{
                padding: .5rem 1.5rem;
            
                .aside_list_item_link {
                    display: flex;
                    align-items: center;
                    
                    .material-icons{
                        margin-right: 1.5rem;
                    }
                    .aside_list_item_label{
                        
                    }
                    .material-icons.dot{
                        margin-right: 0rem;
                        margin-left: auto; /* esto empuja el elemto todo lo posible dentro de su contenedor */
                        color: #0066ff;
                        font-size: 0.5rem;
                        display: none;
                        
                        &.active{
                            display: block;
                        }
                    }
                }  

                &:hover {
                    background: $grey_6;
                }
            }
        }
    }
}