.main_tendencias {
    background-color: $grey_7;
    padding: 1rem 3rem;
    .main_tendencias_section_top{
        display: flex;
        border-bottom: solid .5px $grey_5;
        .category{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 5rem;
            .category_icon{
                background-color: $grey_2 ;
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                img{
                    
                }   
            }
            h4{
                margin-top: .5rem;
                margin-bottom: 1rem;
                font-weight: 500;
                color: $grey_2;
            }
        }

    }
    .main_tendencias_section_videos{
        .category{
            margin: 0.25rem 0 1.25rem 0;

            h3{
                color:black;
                display: none;
            }
        }
        
        .video_card{
            display:flex;
            margin-bottom: 1rem;

            .video_card_link{
                display: flex;
                .video_card_thumbnail {
                    display: grid;
                    grid-template-rows: 1fr auto;
                    grid-template-columns: 1fr auto;
                    
                    width: 250px;
                    margin-right: 1rem;
                    .video_card_thumbnail_image{
                        grid-area: 1/1/3/3;
                        img{
                            width: 100%;
                            
                        }
                    }
                    .video_card_thumbnail_timer{
                        grid-area: 2/2/3/3;
                        color: white;
                        background-color: black ;
                        opacity: 0.8;
                        padding: 0.05rem .3rem;
                        border-radius: 2px;
                        margin: 0.25rem;
                    
                        font-size: .75rem;
                        line-height: 1rem;
                        font-weight: 500;
                    }
                }
                .video_card_description{
                    display:flex;
                    width: 50%;
            
                    .video_card_description_text{
                        h2{

                        }
                        h5.grey{
                            display:flex;
                            align-items: center;
                            margin-bottom: .5rem;
                            .material-icons.check{
                                margin-right: .3rem;
                                margin-left: .2rem;
                                font-size: .85rem;
                            }
                        }
                    
                    } 
                   
                }
                .material-icons.more_vert{
                    color:$grey_3;
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover{
                    .material-icons.more_vert{
                        opacity:1;
                        visibility: visible;
                        transition: visibility 300ms ease, opacity 300ms ease;
                    }
                    .video_card_thumbnail_timer{
                        opacity: 0;
                        transition: visibility 300ms ease, opacity 300ms ease;
                    }
                }

            }
            
        
        }
    }
}